#my-header{
    min-height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8354692218684349) 20%, rgba(255, 255, 255, 0.4489146000196954) 100%), url('../Images/home-min.jpg');
    background-size: cover;
    background-position: center;
  }

#my-nav{
    min-height: 10vh;
    z-index: 1000;
}

#about-sec{
    padding-top: 130px;
    padding-bottom: 5%;
}

/* waves about section */
.waves-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves-nav svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.waves-nav .shape-fill {
    fill: #FFFFFF;
}

/* waves events section */
.custom-shape-divider-top-1631703108 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1631703108 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.custom-shape-divider-top-1631703108 .shape-fill {
    fill: #212529;
}

#events-sec{
    padding-top: 130px;
    padding-bottom: 5%;
}

section {
    outline: none;
    border-style: none;
}